doctype html
h1.hidden DUDE, SERIOUSLY, STOP TRYING TO PEEP MY STUFF
html.
	<head>
	 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<title>Get Wired</title>

		<link href="/stylesheets/bootstrap.css" rel="stylesheet">
		<link href="/stylesheets/main.css" rel="stylesheet">
		<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">

		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/wired.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
	</head>

	<body id="body">
		<img src="images/logo.png" id="logo"></img>
		<video autoplay id="bgvid" loop type="video/webm"></video>
		<div id="box-container">
			<div class="box-row">
				<div class="main-box nav-box">
					<img src="images/8-ball.png"></img>
					<h4>GET WIRED</h4>
				</div>
				<div class="nav-box secondary-box timer-box">
					<img src="images/2.png"></img>
					<h4>MINS</h4>
				</div>
				<div class="nav-box secondary-box timer-box">
					<img src="images/5.png"></img>
					<h4>MINS</h4>
				</div>
				<div class="nav-box secondary-box timer-box">
					<img src="images/10.png"></img>
					<h4>MINS</h4>
				</div>
				<div class="nav-box secondary-box timer-box">
					<img src="images/15.png"></img>
					<h4>MINS</h4>
				</div>
				<div class="nav-box secondary-box timer-box">
					<img src="images/20.png"></img>
					<h4>MINS</h4>
				</div>
			</div>

			<div class="box-row">
				<div class="main-box nav-box">
					<img src="images/clock.png"></img>
					<h4>TIMER</h4>
				</div>
				<div class="nav-box secondary-box timer-box">
					<img src="images/2.png"></img>
					<h4>MINS</h4>
				</div>
				<div class="nav-box secondary-box timer-box">
					<img src="images/5.png"></img>
					<h4>MINS</h4>
				</div>
				<div class="nav-box secondary-box timer-box">
					<img src="images/10.png"></img>
					<h4>MINS</h4>
				</div>
				<div class="nav-box secondary-box timer-box">
					<img src="images/15.png"></img>
					<h4>MINS</h4>
				</div>
				<div class="nav-box secondary-box timer-box">
					<img src="images/20.png"></img>
					<h4>MINS</h4>
				</div>
			</div>

			<div class="box-row">
				<div class="main-box nav-box">
					<img src="images/bolt.png"></img>
					<h4>INFO</h4>
				</div>
				<div class="nav-box secondary-box">
					<h4 class="no-img">WORK WITH US</h4>
				</div>
				<div class="nav-box secondary-box">
					<h4 class="no-img">TWITTER</h4>
				</div>
				<div class="nav-box secondary-box">
					<h4 class="no-img">TERMS</h4>
				</div>
			</div>
		</div>

		<div class="footer">
			<div id="playing">
				<div>
					<span class="fa fa-music"><h4 id="currently_playing"></h4></span>
				</div>
			</div>
			<div id="controls">
				<!--<div class="overlay"></div>-->
				<span class="fa fa-pause" id="pause"></span>
				<span class="fa fa-play" id="play"></span>
				<audio id="audio" src="" preload="auto"></audio>
				<span class="fa fa-caret-left" id="previous"></span>
				<span class="fa fa-caret-right" id="next"></span>
				<span class="fa fa-expand" id="expand"></span>
			</div>
		</div>
	</body>

