@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url('/fonts/raleway.woff') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  margin: 10px;
  font-family: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#logo {
  margin-top: 40px;
}

video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  transition: 0.5s opacity;
}

#controls .fa {
  font-size: 20px;
}

.fa {
  font-size: 20px;
  cursor: pointer;
  padding: 0 5px;
  color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

#playing {
  display:none;
  color: #fff;
  width: 93%;
}

#playing div {
  float: right;
}

#playing h4 {
  display: inline-block;
  padding-left: 10px;
}

#playing .fa {
  font-size: 25px;
  cursor: default;
}

#controls {
  width: 150px;
  height: 20px;
  position:absolute;
  right: 20px;
  bottom: 20px;
}

#controls .overlay {
  background-color: #ff0000;
  opacity: .8;
  -webkit-border-radius-topleft: 2px;
  -moz-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  width: 100%;
  height: 100%;
}

#box-container {
  margin-top:50px;
}

.box-row {
  width: 137px;
  /*width: 900px;*/
  display: block;
  height: 132px;
  margin: 5px 0;
  overflow: hidden;
}

.nav-box {
  width: 132px;
  height: 132px;
  background-color: #BC593A;
  opacity: 0.8;
  color: #CDD0A5;
  display:inline-block;
  margin-left: 2px;
  float: left;
  min-height: 132px;

  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;


  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
}

.nav-box:hover {
  opacity: 1;
}

.nav-box img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  height: 70px;
}

h4 {
  text-align: center;
  cursor: default;
}

.secondary-box {
  display: none;
  /*display: inline-block;*/
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  clear: none;
}

.box-row:hover {
  width: 825px;
}

.box-row:hover .secondary-box {
  display: inline-block;
}

